.title {
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  margin: 2.5rem 0;
  text-align: center;
}

.title span {
  background: linear-gradient(180deg, #ffffff00 50%, var(--clr-primary) 100%);
}

.content {
  font-size: var(--fs-content);
  text-align: center;
}

.content p {
  margin: 2rem 0;
}

.cta {
  background-color: var(--clr-secondary);
  font-size: 1rem;
  color: var(--clr-neutral);
  border-radius: 8px;
  text-align: center;
  padding: 1rem;
  width: 45vw;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}
