.title {
  font-size: var(--fs-title);
  font-weight: var(--fw-bold);
  margin: 2.5rem 0;
  text-align: center;
}

.title span {
  background: linear-gradient(180deg, #ffffff00 50%, var(--clr-primary) 100%);
}

.services {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 2rem;
}

.serviceTitle {
  font-weight: var(--fw-bold);
  margin: 1rem 0;
  font-size: 28px;
}

.serviceText {
  font-size: 1.125rem;
}

.number {
  font-size: 50px;
  font-weight: var(--fw-superbold);
  color: transparent;
  -webkit-text-stroke: 1px #000000;
  /* text-stroke: 2px #000000;  */ /*menos suporte*/
}

@media (min-width: 768px) {
  .services {
    max-width: 65%;
  }

  .service {
    display: flex;
    gap: 2rem;
    align-items: center;
  }
}
